<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="irislab.ZPM">
    <Module>
      <Name>irislab</Name>
      <Version>1.0.0</Version>
      <Keywords>irislab</Keywords>
      <Description>IRISLab</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <SystemRequirements Version=">=2024.1" />
      <Resource Name="IRISLab.PKG"/>
      <FileCopy Name="api.py" Target="${mgrdir}python/irislab/api.py" />
      <CSPApplication
        DispatchClass="IRISLab.WSGI"
        MatchRoles=":%All"
        CookiePath="/irislab"
        Directory="{$cspdir}/irislab/"
        Name="/irislab"
        Path="/build"
        ServeFiles="1"
        Recurse="1"
        Url="/irislab"
      />
    </Module>
  </Document>
</Export>